body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 90vh;
    background-color: white;
    padding: 0px 20px;
}

hr.vertical {
    height:100vh;
    width:0;
    border:1px solid black;
}

.about{
    z-index: 999;
    padding-left: 20px;
    padding-right: 40px;
}

p{
  font-size: 18px;
  color: #302f2f;
  padding-top: 15px;
}

b{
  color: #5c5c5c;

}
.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.top-left {
    height: 50vh;
}

.bottom-left {
    height: 45vh;
    overflow-y: auto;
    position: relative;

    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px ;
}

.right {
    width: 50%;
    margin-left: 20px;
}

.books {
  display: flex; 
  flex-wrap: wrap;
  gap: 20px 20px;
  align-items: flex-end;
  overflow-y: scroll;
  max-height: 90vh;
  padding-right: 20px;

  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.books::-webkit-scrollbar {
  display: none;
}

.book-cover {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.book-icon {
  background-color: #302f2f;
  width: 114px;
  height: 151px;
}

.infoblock {
  display: none;
  position: absolute;
  background-color: white;
  width: 45vw;
  height: 100%;
  z-index: 999;
  padding-left: 20px;
  }

h1{
  font-weight: 500;
  font-size: 24px;

}
h2{
  font-size: 24px;
  font-weight: 500;
}